

    
        <div class="container-fluid">
            <form name="form" ng-submit="run()" role="form">
                <div class="col-md-4">
                    <input type="text" ng-model="fund" placeholder="Portfolio" typeahead="fund as fund.Name for fund in getFunds($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div class="col-md-2">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="effectiveDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <button type="submit" ng-disabled="dataLoading" class="btn btn-danger">Go!</button>
                </div>
            </form>
            <div class="col-md-12">
                <div ng-if="gridOptions.data" ui-grid="gridOptions" ui-grid-auto-resize ng-style="getTableHeight()"></div>
            </div>
</div>
    
